In [1]:
import os
import pandas as pd

In [3]:
df = pd.read_excel('./SE/20-21 DSY EXTC SEM IV GR 2 Gazette MAY 2021.xls')
df.columns = df.iloc[4]
df = df.drop(4)
df.head(15)

4,Seat No / Name of Student ↓,NaN,ISE,ESE,TOT,ISE,ESE,TOT,ISE,ESE,...,TOT,ESE,TOT,ESE,TOT,NaN,NaN,NaN,NaN,NaN
0,NaN,An Autonomous Institute Affiliated To Univers...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Gazette for B.Tech Electronics and Telecommun...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Courses →,NaN,MA203,NaN,NaN,MA201,NaN,NaN,MA204,NaN,...,NaN,HSEX2,NaN,AS202,NaN,TOTAL,SGPI (GPA),RESULT,CGPI,YCGPI
3,NaN,NaN,PROBABILITY AND STOCHASTIC PROCESSES,NaN,NaN,LINEAR ALGEBRA,NaN,NaN,FOUNDATION OF MATHEMATICS - II,NaN,...,NaN,HSS - II,NaN,CONSTITUTION OF INDIA,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,MaxM,40,60,100,40,60,100,40,60,...,200,100,100,0,0,900,NaN,NaN,NaN,NaN
6,NaN,MinM,--,--,40,--,--,40,--,--,...,80,40,40,--,0,NaN,NaN,NaN,NaN,NaN
7,2020201063,MarksO,33,39.5,73,40,37,77,37,59,...,170,90,90,S,0,735,9,P,9.37,9.37
8,CHRIS PAUL CEENA,Grade,NaN,NaN,B,NaN,NaN,A,NaN,NaN,...,O,NaN,O,NaN,S,NaN,NaN,NaN,NaN,NaN
9,NaN,C,NaN,NaN,3,NaN,NaN,3,NaN,NaN,...,2,NaN,2,NaN,0,25,NaN,NaN,NaN,NaN
10,NaN,GP*C,NaN,NaN,24,NaN,NaN,27,NaN,NaN,...,20,NaN,20,NaN,0,225,NaN,NaN,NaN,NaN
11,2020201064,MarksO,33,46.5,80,40,37,77,36.5,57,...,166,92,92,S,0,734,9.24,P,9.5,9.5
12,GODAMBE MANDAR RAJENDRA JAYSHREE,Grade,NaN,NaN,O,NaN,NaN,A,NaN,NaN,...,O,NaN,O,NaN,S,NaN,NaN,NaN,NaN,NaN
13,NaN,C,NaN,NaN,3,NaN,NaN,3,NaN,NaN,...,2,NaN,2,NaN,0,25,NaN,NaN,NaN,NaN
14,NaN,GP*C,NaN,NaN,30,NaN,NaN,27,NaN,NaN,...,20,NaN,20,NaN,0,231,NaN,NaN,NaN,NaN
15,2020201065,MarksO,Ab,Ab,0,Ab,Ab,0,Ab,Ab,...,0,Ab,0,U,0,41,-,F,- -,NaN

In [4]:
# df.iloc[3]
# Assuming df is your DataFrame
non_nan_values = [value for value in df.iloc[3] if pd.notna(value)]
non_nan_values

['PROBABILITY AND STOCHASTIC PROCESSES',
 'LINEAR ALGEBRA',
 'FOUNDATION OF MATHEMATICS - II',
 'ANALOG CIRCUITS',
 'MICROCONTROLLERS',
 'SIGNALS AND SYSTEMS',
 'MINI PROJECT - I ',
 'HSS - II',
 'CONSTITUTION OF INDIA']

In [22]:
len(non_nan_values)

9

In [23]:

['PROBABILITY AND STOCHASTIC PROCESSES',
 'LINEAR ALGEBRA',
 'FOUNDATION OF MATHEMATICS - II',
 'ANALOG CIRCUITS',
 'MICROCONTROLLERS',
 'SIGNALS AND SYSTEMS',
 'MINI PROJECT - I ',
 'HSS - II',
 'CONSTITUTION OF INDIA']

probability_and_stochastic_processes = []
linear_algebra = []
foundation_of_mathematics_ii =[]
analog_circuits = []
microcontrollers = []
signals_and_systems = []
mini_project_i = []
hss_ii = []
constitution_of_india = []

# Initialize lists to store data
uids = []
names= []

tot_dict = {}

# Iterate over the rows
for index, row in df.iterrows():
    # Check if the UID starts with "2019"
    if str(row[0]).startswith('20'):
        # Append UID
        uid = str(row[0])
        uids.append(uid)
        name_val = str(df.iloc[index, 0]).strip('/')  # Remove leading '/'
        # print(name_val)
        names.append(name_val)

        for column_name, value in row.items():
            # Check if the column name is 'TOT'
            if column_name == 'TOT':
                # Add TOT value to the dictionary
                if str(row[0]) not in tot_dict:
                    tot_dict[str(row[0])] = []
                tot_dict[str(row[0])].append(value)

# Iterate over tot_dict and append values to the lists
for uid, tot_values in tot_dict.items():
    if uid.startswith('20'):
        probability_and_stochastic_processes.append(tot_values[0])
        linear_algebra.append(tot_values[1])
        foundation_of_mathematics_ii.append(tot_values[2])
        analog_circuits.append(tot_values[3])
        microcontrollers.append(tot_values[4])
        signals_and_systems.append(tot_values[5])
        mini_project_i.append(tot_values[6])
        hss_ii.append(tot_values[7])
        constitution_of_india.append(tot_values[8])

data = {
    'UID': uids,
    'Name': names,
    'Probability_And_Stochastic_Processes': probability_and_stochastic_processes,
    'Linear_Algebra': linear_algebra,
    'Foundation_Of_Mathematics_II': foundation_of_mathematics_ii,
    'Analog_Circuits': analog_circuits,
    'Microcontrollers': microcontrollers,
    'Signals_And_Systems': signals_and_systems,
    'Mini_Project_I': mini_project_i,
    'HSS_II': hss_ii,
    'Constitution_Of_India': constitution_of_india
}

# Create DataFrame
df_new = pd.DataFrame(data)

# Display DataFrame
df_new

C:\Users\Admin\AppData\Local\Temp\ipykernel_21768\1441569944.py:30: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if str(row[0]).startswith('20'):
C:\Users\Admin\AppData\Local\Temp\ipykernel_21768\1441569944.py:32: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  uid = str(row[0])
C:\Users\Admin\AppData\Local\Temp\ipykernel_21768\1441569944.py:42: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if str(row[0]) not in tot_dict:
C:\Users\Admin\AppData\Local\Temp\ipykernel_21768\1441569944.py:43: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tot_dict[str(row[0])] = []
C:\Users\Admin\AppData\Local\Temp\ipykernel_21768\1441569944.py:44: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  tot_dict[str(row[0])].append(value)

,UID,Name,Probability_And_Stochastic_Processes,Linear_Algebra,Foundation_Of_Mathematics_II,Analog_Circuits,Microcontrollers,Signals_And_Systems,Mini_Project_I,HSS_II,Constitution_Of_India
0,2020201063,CHRIS PAUL CEENA,73,77,96,77,74,78,170,90,0
1,2020201064,GODAMBE MANDAR RAJENDRA JAYSHREE,80,77,94,78,71,76,166,92,0
2,2020201065,INGLE ASHUTOSH GAJANAN SADHANA,0,0,0,0,41,0,0,0,0
3,2020201066,K SREERAM PARAMESWARAN NANDINI,66,74,93,64,62,62,154,68,0
4,2020201067,KALE PURVA VISHWAS VISHAKHA,75,77,96,70,74,77,163,88,0
5,2020201068,MHATRE KAUSTUBH JANARDAN JYOTI,73,76,95,71,77,76,165,79,0
6,2020201069,MISHRA SHRADDHA SANTOSH SARITA,63,69,94,64,58,54,156,64,0
7,2020201070,PANCHAL UTSAV SURESH SANGITA,82,77,94,81,75,79,164,82,0
8,2020201071,SASANE SUJANT DINESH DEEPALI,0,0,0,0,3,0,0,0,0
9,2020201072,SAYED MOHAMMED SAUD NISAR ALMAS,84,73,89,71,70,71,164,78,0
10,2020201073,SHINDE SARVESHA RAJENDRA DEEPA,81,77,96,83,76,81,169,91,0
11,2020201074,THORAT RUTUJA RAMESH KALPANA,77,77,95,72,75,68,154,83,0

In [24]:
df_new.to_csv('Sem IV dsy Res.csv', index=False)