In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('merged_df.csv')
df

,UID,Name,SGPA_1,Results_1,SGPA_2,Results_2,SGPA_3,Results_3,SGPA_4,Results_4,SGPA_5,Results_5,SGPA_6,Results_6,SGPA_7,Results_7
0,2018120014,CONTRACTOR VARUN MANOJ DARSHANA,NaN,NaN,NaN,NaN,8.857143,P,6.578947,P,6.48,P,5.45,P,6.25,P
1,2018120016,DATTA SOHEL,NaN,NaN,NaN,NaN,7.620000,P,6.421053,P,6.38,P,5.15,P,6.00,P
2,2018120018,DHODI NIRAJ SURESH SUNITA,NaN,NaN,NaN,NaN,7.952381,P,7.530000,P,7.52,P,7.85,P,8.13,P
3,2018120047,PATEL SHIVAM DHANSUKH RITA,NaN,NaN,NaN,NaN,8.050000,P,7.210000,P,7.14,P,7.20,P,7.56,P
4,2018120059,TRUPTI GOPINATH JAYALAKSHMI,NaN,NaN,NaN,NaN,8.710000,P,7.421053,P,7.24,P,NaN,NaN,6.44,P
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81,2020201070,PANCHAL UTSAV SURESH SANGITA,NaN,NaN,NaN,NaN,9.810000,P,9.560000,P,8.86,P,NaN,NaN,8.31,P
82,2020201071,SASANE SUJANT DINESH DEEPALI,NaN,NaN,NaN,NaN,NaN,F,NaN,F,NaN,NaN,NaN,NaN,NaN,NaN
83,2020201072,SAYED MOHAMMED SAUD NISAR ALMAS,NaN,NaN,NaN,NaN,9.620000,P,8.720000,P,8.95,P,NaN,NaN,8.13,P
84,2020201073,SHINDE SARVESHA RAJENDRA DEEPA,NaN,NaN,NaN,NaN,9.620000,P,9.720000,P,8.86,P,8.10,P,8.88,P
85,2020201074,THORAT RUTUJA RAMESH KALPANA,NaN,NaN,NaN,NaN,9.620000,P,8.720000,P,8.38,P,7.25,P,8.31,P